$row-width: 2160px;
$element-count: 18;

.periodic-table {
  margin: $xl-spacing;
}

.element-row {
  @include margin(null auto);
  display: flex;
  justify-content: space-between;
  width: $row-width;
}

.element-row-7 {
  margin-top: $large-spacing;
}

.element-row-7,
.element-row-8 {
  justify-content: flex-end;
}

.element-group {
  display: flex;

  .element-row-6 &,
  .element-row-8 & {
    border-bottom: $base-border;
  }
}

.element {
  border-top: $base-border;
  border-left: $base-border;
  width: $row-width / $element-count;

  &:last-of-type {
    border-right: $base-border;
  }
}

.element__content {
  backface-visibility: hidden;
  color: $steel;
  padding: $base-spacing;
  position: relative;
  text-align: center;
  transition: transform $base-duration $base-timing;

  &:hover {
    box-shadow: $base-box-shadow;
    color: $base-background-color;
    transform: scale(1.1);
    z-index: 100;
  }
}

.element__background {
  @include position(absolute, 0);
  opacity: 0;
  transition: opacity $base-duration $base-timing;
  z-index: -1;

  .element__content:hover & {
    opacity: 1;
  }
}

.element__number {
  font-family: $monospace-font-family;
  margin-bottom: $small-spacing;
  text-align: left;
}

.element__name {
  margin-top: $small-spacing;
}

.element__mass {
  color: $white;
  margin-top: $base-spacing;

  .element__content:hover & {
    color: $base-background-color;
  }
}
