$categories: (
  diatomic-nonmetal: $purple,
  noble-gas: $lavender,
  alkali-metal: $red,
  metalloid: $teal,
  polyatomic-nonmetal: $blue,
  alkaline-earth-metal: $orange,
  post-transition-metal: $green,
  transition-metal: $yellow,
  actinide: $pink,
  lanthanide: $magenta
);

@each $category, $color in $categories  {
  .element__background {
    .#{$category} & {
      background-color: $color;
    }
  }

  .element__symbol {
    .#{$category} & {
      color: $color;
    }

    .element__content:hover & {
      color: $base-background-color;
    }
  }
}
