// Typography
$base-font-family: "Univers CE 55 Medium";
$heading-font-family: "Univers 49 Light Ultra Condense";
$number-font-family: "Input Sans";

// Font Sizes
$base-font-size: 1rem;
$small-font-size: $base-font-size * 0.75;
$large-font-size: $base-font-size * 3.75;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;


$white: #fff;
$rock-blue: #92A1BB;
$cloud-burst: #313C4E;
$black-pearl: #202733;

// Font Colors
$base-font-color: $rock-blue;
$action-color: $blue;

// Border
$base-border-color: #313C4E;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $black-pearl;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
