.elements
  .element-row
    .element-group
      - 1.times do
        = partial "partials/element"
    .element-group
      - 1.times do
        = partial "partials/element"

  .element-row
    - 18.times do
      = partial "partials/element"
