- data.periodic_table.each do |table|
  %div.row.flex.justify-between
    - table.row.each do|row|
      %ul.flex
        - row.elements_group.each do |group|
          %li.element.ba.b--dark-navy.tc
            %p.light-navy.tl= group.element.number
            %p{ class: "#{color_element(group.element.category)}"}= group.element.symbol
            %p.light-navy= group.element.name
            %p.white= group.element.atomic_mass
