- data.periodic_table.each do |row|
  %ul.periodic-row
    - row.columns.each do|column|
      %li.periodic-element
        %p.number= column.element.number
        .symbol-and-name
          - if column.element.symbol
            %p.symbol= column.element.symbol
          - if column.element.name
            %p.name= column.element.name
        - if column.element.atomic_mass
          %p.atomic-mass= column.element.atomic_mass
